html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* Normally 100% is 16 px we want the size to be 10px so we do 62.5 */
    font-family: 'Oxygen', sans-serif;
    margin: auto;
}

.header-title{
    background-color: #B2DFDB;
    background-position: center;
    background-size: cover;
    color: white;
    height: 17vh;
    border-radius: 10px;
    text-align: center;
    font-size: 13rem;
    flex-grow: 1;
}
.parent{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: #B2DFDB;
}

.img{
    width: 40rem;
    height: 60rem;
}

.rem-size{
    font-size: 2rem;
}

.Morning{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 26%;
    border: solid #5B6DCD 5px;
    padding: 1rem;
}

.Afternoon{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 26%;
    border: solid #5B6DCD 5px;
    padding: 1rem;
}

.Night{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 26%;
    border: solid #5B6DCD 5px;
    padding: 1rem;
}




