html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* Normally 100% is 16 px we want the size to be 10px so we do 62.5 */
    font-family: 'Oxygen', sans-serif;
}

.body{
    background-color: #c8eeeb;
}

.header-title{
    background-color: #B2DFDB;
    background-size: cover;
    color: white;
    height: 7.5rem;
    text-align: center;
    font-size: 6rem;
    transition: all 2s;
}

.header-title:hover{
    color: rgb(235, 90, 90);
    background-color: rgb(248, 129, 129);
}

.parent{
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 1rem;
}

.parent1:hover .sky:not(:hover){
    transform: scale(0.9);
    opacity: 0.5;
}

.sky{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 25%;
    border: 10px solid rgb(159, 193, 236);
    border-radius: 1.5rem;
    background-color: rgb(159, 193, 236) ;
    color:rgb(159, 193, 236);
    box-shadow: 5px 10px 10px rgb(144, 180, 214);
    transition: all 0.3s;
}
.sky:hover{
    transform: scale(1.1);
}

.cloud{
    border-radius: 1rem;
}

.cloud1:hover{
    rotate: 360deg;
}

.cloud2:hover{
    transform: matrix(1.1, 0.2, -0.5, 0.85, 10, 10);
}

.cloud3:hover{
    rotate: -360deg;
}

.cloud4:hover{
    transform: scale(1.3);
}

.cloud5:hover{
    translate: 0rem -2.5rem;
}

.cloud6:hover{
    transform: scale(0.7);
}


.animation{
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    animation: test 10s infinite alternate;
    position: relative;
}

@keyframes test{
    0%{
        left: 0%;
        bottom: 10%;
        background-color: rgb(242, 191, 141);
    }
    25%{
        left: 25%;
        bottom: 10%;
        rotate: 90deg;
        background-color: rgb(227, 102, 102);
    }
    50%{
        left: 50%;
        bottom: 10%;
        rotate: 180deg;
        background-color: rgb(158, 33, 125);
    }
    75%{
        left: 75%;
        bottom: 10%;
        rotate: 270deg;
        background-color: rgb(67, 52, 117);
    }
    100%{
        left: 95%;
        bottom: 10%;
        rotate: 360deg;
        background-color: rgb(44, 89, 138);
    }

}

@media screen and (max-width: 2048px) {
    .sky{
        flex-direction: column;
        width: 30%;
    }
}

@media screen and (max-width: 1920px) {
    .sky{
        flex-direction: column;
        width: 30%;
    }
}


@media screen and (max-width: 390px) {
    .sky{
        flex-direction: column;
        width: 30%;
    }
}
